<div class="container" style="margin-top: 3rem; padding-right: 25rem; padding-left: 2rem;">
    <h1>Favourites</h1>
    <table class="table">

        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Artist Name</th>

            </tr>
        </thead>
        <tbody>
              @for (artist of favouritesService.getfavourites(); track $index) {  
            <tr>
                <td>
               <svg (click)="Ondelete(artist)" xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 40 40" fill="none">
                <path opacity="0.5" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z" fill="#1C274C"/>
                <path d="M15.75 12C15.75 12.4142 15.4142 12.75 15 12.75H9C8.58579 12.75 8.25 12.4142 8.25 12C8.25 11.5858 8.58579 11.25 9 11.25H15C15.4142 11.25 15.75 11.5858 15.75 12Z" fill="#1C274C"/>
                <style>
                    svg{cursor: pointer;}
                </style>
                </svg>
                </td>

                <td>{{artist}}</td>
            </tr>
             } 


        </tbody>


    </table>
</div>
